.App {
  text-align: center;
  background-color: #81ae72;
}

.background-image {
  background-image: url("backgroundPokemon.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right -300px;
}

.container-app {
  padding: 0px 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar {
  margin: 0px 0px 20px 0px;
  border: solid 2px black;
  padding: 20px 0px;
}

.Navbar > a {
  margin: 10px;
  font-family: "Kdam Thmor Pro", sans-serif;
  text-decoration: none;
  color: black;
  border: solid 1px black;
  padding: 5px 10px;
  border-radius: 10px;
}

.pokemon-discover-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100px !important;
}

.pokemon-detail-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 1000px;
}

.pokemon-home-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 1000px;
}

.pokemon-about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 1000px;
}

.Pokemon-discover-card {
  width: 200px !important;
  height: 300px !important;
  margin: 10px 20px !important;
  border: none !important;
  background-color: transparent !important;
}

.Pokemon-detail-card {
  border: solid 2px pink;
  width: 400px !important;
  height: 600px !important;
  margin: 20px 20px;
}

.img-discover-card {
  padding: 10px;
  border: solid 1px black;

  display: block;
}

.pokemon-body-card {
  background-color: rgb(242, 89, 89) !important;
  border: solid 1px black;
}

.pokemon-body-card > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px 20px;
}

.img-detail-container {
  border-bottom: solid 1px black;
}

.img-detail-card {
  width: 250px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pokemon-discover-name {
  color: black;
  font-size: 30px;
  text-transform: capitalize;
  font-family: "Kdam Thmor Pro", sans-serif;
  margin-bottom: 10px;
}

.pokemon-detail-name {
  color: black;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.card-detail-text {
  font-family: "Crimson Text", serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
